{% extends 'base.html.twig' %} 

{% block body %}
<div class="row">
	<div class="col-md-12">
		<h3>Home > <a href="#usuarios">Listagem de Usuarios</a></h3>
		<hr />
	</div>
	
	<div class="col-md-12">
		<a class="btn btn-primary btn-sm" href="{{ path('usuarios_new') }}"><i class="fa fa-plus fa-sw"></i> Cadastrar novo</a>
	</div>
	
	<div class="col-md-12">
	<br>
	<table id="tbUsuariosIndex" class="table table-borderer table-striped table-hover">
		<thead>
			<tr>
				<th>Emailusuario</th>
				<th>Senhausuario</th>
				<th>Dtcadastro</th>
				<th>Ativo</th>
				<th>Idusuario</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for usuario in usuarios %}
			<tr>
				<td><a
					href="{{ path('usuarios_show', { 'id': usuario.idUsuario }) }}">{{
						usuario.emailUsuario }}</a></td>
				<td>{{ usuario.senhaUsuario }}</td>
				<td>{% if usuario.dtCadastro %}{{ usuario.dtCadastro|date('Y-m-d
					H:i:s') }}{% endif %}</td>
				<td>{{ usuario.ativo }}</td>
				<td>{{ usuario.idUsuario }}</td>
				<td>
					<ul>
						<li><a
							href="{{ path('usuarios_show', { 'id': usuario.idUsuario }) }}">show</a>
						</li>
						<li><a
							href="{{ path('usuarios_edit', { 'id': usuario.idUsuario }) }}">edit</a>
						</li>
					</ul>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
	
</div>
{% endblock %} 
{% block javascripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#tbUsuariosIndex").dataTable();
	});
</script>
{% endblock %}
