{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<h3>Home > <a href="">Listagem de Empresas</a></h3>
		<hr />
	</div>
	
	<div class="col-md-12 text-right">
		<a href="{{ path('empresa_new') }}" class="btn btn-primary btn-sm"> <i class="fa fa-plus"></i> Adicionar novo</a>
		<a href="#" class="btn btn-info btn-sm"> <i class="fa fa-trash"></i> Excluir</a>
	</div>
	
	<div class="col-md-12">
	<br>
	<table id="tbEmpresaIndex" class="table table-borderer table-striped table-hover">
        <thead>
            <tr>
            	<th>ID</th>
                <th>CNPJ</th>
                <th>Inscr.Estadual</th>
                <th>NNome Fantasia</th>
                <th>Raz&atilde;o Social</th>
                <th>Dt. Abertura</th>
                <th>Dt. Cadastro</th>
                <th>Ativa</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {% for empresa in empresas %}
            <tr>
                <td>{{ empresa.idEmpresa }}</td>
                <td><a href="{{ path('empresa_show', { 'id': empresa.idEmpresa }) }}">{{ empresa.cnpjEmpresa }}</a></td>
                <td>{{ empresa.inscrEstEmpresa }}</td>
                <td>{{ empresa.nomeFantasia }}</td>
                <td>{{ empresa.razaoSocial }}</td>
                <td>{% if empresa.dataAbertura %}{{ empresa.dataAbertura|date('d/m/Y') }}{% endif %}</td>
                <td>{% if empresa.dtCadastro %}{{ empresa.dtCadastro|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{{ empresa.ativa }}</td>
                <td>
                    
                    <a class="btn btn-link" alt="Visualizar Lote" href="{{ path('empresa_show', { 'id': empresa.idEmpresa }) }}"> 
                		<i class="fa fa-eye"></i>
                	</a>
                	<a class="btn btn-link" alt="Editar Lote" href="{{ path('empresa_edit', { 'id': empresa.idEmpresa }) }}">
                		<i class="fa fa-edit"></i>
                	</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>
	
</div>


{% endblock %}


{% block stylesheets %}
 
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#tbEmpresaIndex").dataTable();
	});
</script>
{% endblock %}