{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-md-12">
		<h3>Home > <a href="">Listagem de Licen&ccedil;as</a></h3>
		<hr />
	</div>
	
	<div class="col-md-12 text-right">
		<a href="{{ path('licenca_new') }}" class="btn btn-primary btn-sm"> <i class="fa fa-plus"></i> Adicionar novo</a>
	</div>
	
	<div class="col-md-12">
	<br>
	<table id="tbLicencaIndex" class="table table-borderer table-striped table-hover">
        <thead>
            <tr>
            	<th>ID</th>
                <th>Dt. Emiss&atilde;o</th>
                <th>Dt. Libera&ccedil;&atilde;o</th>
                <th>Prazo(dias)</th>
                <th>Valor Licen&ccedil;a</th>
                <th>Ativo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for licencaUso in licencaUsos %}
            <tr>
            	<td>{{ licencaUso.idLicencaUso }}</td>
                <td><a href="{{ path('licenca_show', { 'id': licencaUso.idLicencaUso }) }}">{{ licencaUso.dtEmissao|date('d/m/Y H:i:s') }}</a></td>
                <td>{% if licencaUso.dtLiberacao %}{{ licencaUso.dtLiberacao|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>{{ licencaUso.prazoExpiracao }}</td>
                <td>{{ licencaUso.precoLicenca }}</td>
                <td>{{ licencaUso.ativo }}</td>
                
                <td>
                	<a class="btn btn-link" alt="Visualizar Lote" href="{{ path('licenca_show', { 'id': licencaUso.idLicencaUso }) }}"> 
                		<i class="fa fa-eye"></i>
                	</a>
                	<a class="btn btn-link" alt="Editar Lote" href="{{ path('licenca_edit', { 'id': licencaUso.idLicencaUso }) }}">
                		<i class="fa fa-edit"></i>
                	</a>
                	
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>
	
</div>
  
{% endblock %}


{% block stylesheets %}
 
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#tbLicencaIndex").dataTable();
	});
</script>
{% endblock %}
