{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<h3>Home > <a href="">Listagem de Perfis</a></h3>
		<hr />
	</div>
	
	<div class="col-md-12 text-right">
		<a href="{{ path('perfilusuario_new') }}" class="btn btn-primary btn-sm"> <i class="fa fa-plus"></i> Adicionar novo</a>
		<a href="#" class="btn btn-primary btn-sm"> <i class="fa fa-trash"></i> Excluir</a>
	</div>
	
	<div class="col-md-12">
	<br>
	<table id="tbPerfisIndex" class="table table-borderer table-stripped table-hover">
        <thead>
            <tr>
            	<th>ID</th>
                <th>Perfil</th>
                <th>Ativo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for perfilUsuario in perfilUsuarios %}
            <tr>
            	<td>{{ perfilUsuario.idPerfilUsuario }}</td>
                <td><a href="{{ path('perfilusuario_show', { 'id': perfilUsuario.idPerfilUsuario }) }}">{{ perfilUsuario.perfilUsuario }}</a></td>
                <td>{{ perfilUsuario.ativo }}</td>
                <td>
                	<a class="btn btn-link" href="{{ path('perfilusuario_delete', { 'id': perfilUsuario.idPerfilUsuario }) }}"> 
                		<i class="fa fa-trash"></i>
                	</a>
                	<a class="btn btn-link" href="{{ path('perfilusuario_edit', { 'id': perfilUsuario.idPerfilUsuario }) }}">
                		<i class="fa fa-edit"></i>
                	</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>
	
</div>


{% endblock %}
{% block javascripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#tbPerfisIndex").dataTable();
	});
</script>
{% endblock %}