{% extends 'base.html.twig' %}

{% block body %}
    <h1>ItensLote</h1>

    <table>
        <tbody>
            <tr>
                <th>Descricao</th>
                <td>{{ itensLote.descricao }}</td>
            </tr>
            <tr>
                <th>Nrocodigobarra</th>
                <td>{{ itensLote.nroCodigoBarra }}</td>
            </tr>
            <tr>
                <th>Dtcoleta</th>
                <td>{% if itensLote.dtColeta %}{{ itensLote.dtColeta|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Iditenslote</th>
                <td>{{ itensLote.idItensLote }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('itenslote_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('itenslote_edit', { 'id': itensLote.idItensLote }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
