{% extends 'base.html.twig' %}

{% block body %}


<div class="row">
	<div class="col-md-12">
		<h3>Home > <a href="#usuarios">Listagem de Dispostivos</a></h3>
		<hr />
	</div>
	
	<div class="col-md-12">
		<a class="btn btn-primary btn-sm" href="{{ path('dispositivo_new') }}"><i class="fa fa-plus fa-sw"></i> Cadastrar novo</a>
	</div>
	
	<div class="col-md-12">
	<br>
	<table id="tbDispositivosIndex" class="table table-borderer table-striped table-hover">
        <thead>
            <tr>
            	<th>ID</th>
                <th>Descri&ccedil;&atilde;o Modelo</th>
                <th>Nro. S&eacute;rie</th>
                <th>MAC-Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dispositivo in dispositivos %}
            <tr>
                <td>{{ dispositivo.idDispositivo }}</td>
                <td><a href="{{ path('dispositivo_show', { 'id': dispositivo.idDispositivo }) }}">{{ dispositivo.descricaoModelo }}</a></td>
                <td>{{ dispositivo.numeroSerie }}</td>
                <td>{{ dispositivo.macAddress }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dispositivo_show', { 'id': dispositivo.idDispositivo }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dispositivo_edit', { 'id': dispositivo.idDispositivo }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	</div>
	
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$("#tbDispositivosIndex").dataTable();
	});
</script>
{% endblock %}